body {
  background: #19161c;
  height: 100vh;
}

.itemList {
  height: 80%;
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
}

.item {
  position: relative;
  float: left;
  width: 50%;
  height: 60px;
  padding: 0 20px;
  border: 1px solid #e68a71;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 15px;
  color: #e68a71;
  background: #3b3640;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item.selected {
  text-decoration: line-through;
  background-color: rgba(0, 0, 0, 0.01);
  color: white;
  opacity: 0.6;
}

.answer {
  position: absolute;
  right: -5px;
  font-size: 15px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  line-height: 28px;
  color: red;
  text-align: center;
  display: none;
}

.answer.show {
  display: block !important;
}

.order {
  position: absolute;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  line-height: 28px;
  left: -4px;
  color: yellow;
  z-index: 10;
}

.order.pass {
  border: 2px solid red;
  border-radius: 50%;
}

.order.fail::after {
  content: 'X';
  color: red;
  font-size: 28px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.7;
}
