* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: #19161c;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.itemList {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btnWrapper {
  height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

.item {
  position: relative;
  width: 90%;
  border: 1px solid #e68a71;
  border-radius: 10px;
  box-sizing: border-box;
  color: #e68a71;
  background: #3b3640;
  flex: 1 1 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item.show::after {
  content: attr(data-answer);
  position: absolute;
  right: 5px;
  color: red;
  font-weight: bold;
  display: flex;
}

.item.selected {
  text-decoration: line-through;
  background-color: rgba(0, 0, 0, 0.01);
  color: white;
  opacity: 0.6;
}

.order {
  position: absolute;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  line-height: 28px;
  left: 5px;
  color: yellow;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}

.order.pass {
  border: 2px solid red;
  border-radius: 50%;
}

.order.fail::after {
  content: 'X';
  color: red;
  font-size: 28px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.7;
}
